@model IEnumerable<DirectAgents.Domain.Entities.CPSearch.SearchAccount>
@{
    string spId = Request.Params["spid"];
    bool oneProfile = !String.IsNullOrWhiteSpace(spId);
}
<h2>SearchAccounts</h2>

<table>
    <tr>
        <th style="text-align:right">spId</th>
        <th style="text-align:right">Id</th>
        <th></th>
        <th>Name</th>
        <th>Channel</th>
        <th>AccountCode</th>
        <th>ExternalId</th>
        <th>MinSynchDate</th>
        <th>RevPerOrder</th>
    </tr>
    @foreach (var sa in Model)
    {
        <tr>
            <td style="text-align:right">@sa.SearchProfileId</td>
            <td style="text-align:right">@sa.SearchAccountId</td>
            <td>@Html.ActionLink("edit", "Edit", new { id = sa.SearchAccountId })</td>
            <td>@sa.Name</td>
            <td>@sa.Channel</td>
            <td>@sa.AccountCode</td>
            <td>@sa.ExternalId</td>
            <td style="text-align:center">@sa.MinSynchDate.ToShortDateString()</td>
            <td>@sa.RevPerOrder</td>
        </tr>
    }
</table>
<br />

@if (oneProfile)
{
    <text>Go to:</text>
    @Html.ActionLink("StatsGauge", "IndexGauge", new { spId = @spId })
    <br /><br />
    <text>Create New SearchAccount:</text>
    @Html.ActionLink("google", "Create", new { spId = @spId, channel = "Google" })
    <text> | </text>
    @Html.ActionLink("bing", "Create", new { spId = @spId, channel = "Bing" })
    <text> | </text>
    @Html.ActionLink("apple", "Create", new { spId = @spId, channel = "Apple" })
    <br /><br />
}
@Html.ActionLink("Back to SearchProfiles", "Index", "SearchProfiles")