@model DirectAgents.Web.Areas.AB.Models.DashboardVM

<h2>Breakdown By Source (MTD or Past Month)</h2>

@Html.Partial("ChooseMonth", (SelectList)ViewBag.ChooseMonthSelectList)

Client: @Model.ABClient.Name
<br /><br />

<table>
<tr>
    <th>Source (Income Types)</th>
    <th>Revenue</th>
    <th>Cost</th>
    <th>Margin</th>
</tr>
@foreach (var stat in Model.ABStats)
{
<tr>
    <td>@stat.Name</td>
    <td>@stat.Rev</td>
    <td>@stat.Cost</td>
    <td>@stat.Margin</td>
</tr>
}
</table>

<br />
Breakdown By:
@Html.ActionLink("Line Item", "LineItems", new { clientId = Model.ABClient.Id })
